.description__box {
  margin: 120px 170px;
}

.description__box_navigator {
  display: flex;
}

.description__box_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 70px;
  border: 1px solid #d0d0d0;
}

.fade {
  background: #d6d6d6;
  color: #555;
}

.description__box_description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 48px;
}
