.productDisplay {
  display: flex;
  margin: 0 170px;
}

.productDisplay__left {
  display: flex;
  gap: 17px;
}

.productDisplay__img_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productDisplay__img_list img {
  height: 163px;
}

.productDisplay__main_img {
  width: 586px;
  height: 700px;
}

.productDisplay__right {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
}

.productDisplay__right h1 {
  color: #696969;
  font-size: 30px;
  font-weight: 700;
}

.productDisplay__right_star {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;

  color: #1c1c1c;
  font-size: 16px;
}

.prices {
  display: flex;
  margin: 40px 0;
  font-size: 24px;
  gap: 30px;
  font-weight: 700;
}

.prices__old {
  color: #818181;
  text-decoration: line-through;
}

.prices__new {
  color: #ff4141;
}

.product__size {
  margin-top: 55px;
  color: #656565;
  font-weight: 600;
  font-size: 20px;
}

.product__size_right {
  display: flex;
  margin: 30px 0;
  gap: 20px;
}

.product__size_right > div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.productDisplay__right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.right__category {
  margin-top: 10px;
}

.right__category span {
  font-weight: 600;
}
